{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 rounded bg-white p-3">
        <h1 class="text-center mb-3"> Cambiar Contraseña</h1>

        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red"><i class="bi bi-exclamation-circle"></i> {{ error }}</p>
            {% endfor %}
        {% endfor %}

        <form id="id_password_change_form" method="POST" class="form-signin">
            {% csrf_token %}
            <input name="old_password" class="form-control mb-3" placeholder="Contraseña anterior" type="password" id="id_old_password" required="true">
            <input name="new_password1" class="form-control mb-3" placeholder="Nueva contraseña" type="password" id="id_new_password1" required="true">
            <input name="new_password2" class="form-control mb-3" placeholder="Confrimar contraseña" type="password" id="id_new_password2" required="true">
            <button id="id_submit_btn" class="btn btn-outline-primary" type="submit">Cambiar</button>
        </form>
    </div>
</div>

{% endblock %}