{% extends "base.html" %}

{% block content %}

<div class="row text-center justify-content-center">
    <div class="col-md-6 bg-white p-3 rounded">
	    <h1 class="font-weight-bold mt-3">Restablecer contraseña</h1>
        <p>Introduce tu nueva contraseña.</p>

        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <form method="POST" class="form">
            {% csrf_token %}
            <input type="password" class="form-control mb-3" name="new_password1" autocomplete="new-password" required=""
                   id="id_new_password1" aria-autocomplete="list" placeholder="Nueva contraseña">
            <input type="password" class="form-control mb-3" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"
                    placeholder="Repita la contraseña">

            <button class="btn btn-outline-primary mt-3" type="submit">Confimar</button>
        </form>
    </div>
</div>

{% endblock %}