#body {
    background: #202124 !important;
    color: white;
}

.calendar{
    background: #303134;
 }

.calendar tr, .calendar td {
  border: 1px solid white;
  color: white;
}

.fri {
    color: white;
}