{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 rounded bg-white p-3">
        <h1 class="text-center mb-3">
        {% if type == '1' %}
             Nuevo Evento
        {% elif type == '2' %}
            Nuevo Mes
        {% elif type == '3' %}
            Nueva Estación
        {% elif type == '4' %}
            Nuevo Tiempo
        {% endif %}
        </h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input name="title" type="text" placeholder="Nombre*" class="form-control" required maxlength="200" aria-describedby="titleHelp">
                <div class="form-text" id="titleHelp">*Obligatorio.</div>
            </div>
            <div class="mb-3">
                {% if type == '1' %}
                    <input name="date" type="date" placeholder="Seleccione una fecha*" class="form-control" value="{{year}}-{{month}}-{{day}}" required aria-describedby="dateHelp">
                {% else %}
                    <input name="date" type="month" placeholder="Seleccione una fecha*" class="form-control" value="{{year}}-{{month}}" required aria-describedby="dateHelp">
                {% endif %}
                <div class="form-text" id="dateHelp">*Obligatorio.</div>
            </div>
            <div class="mb-3">
                <input name="description" type="text" placeholder="Descripción" class="form-control my-3">
            </div>
            <div class="mb-3">
                <input name="image" type="file" accept="image/*" class="form-control my-3">
            </div>

            <input name="patient_calendar" type="number"  class="form-control my-3" value="{{id_patient}}" required hidden>
            <input name="type" type="number" class="form-control my-2" value="{{type}}" required hidden>
            <input type="submit" name="submit" value="Crear" class="btn btn-outline-primary my-3">
        </form>
    </div>
</div>
{% endblock content %}