{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 rounded bg-white p-3">
        <h1 class="text-center mb-3"> Nuevo Calendario </h1>
        {% for field in form %}
        {% for error in field.errors %}
        <p style="color: red"><i class="bi bi-exclamation-circle"></i> {{ error }}</p>
        {% endfor %}
        {% endfor %}

        <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="name" class="form-control my-3" placeholder="Nombre" maxlength="50" required id="id_name">
            <input type="number" name="therapist" class="form-control mb-3" placeholder="Terapeuta" id="id_therapist" hidden required value="{{user.id}}">
            <!--            <div class="my-4">-->
            <!--                <h5 class="my-2"> Estilo del calendario: </h5>-->
            <!--                <div class="form-check form-check-inline">-->
            <!--                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio1" value="1" checked>-->
            <!--                    <label class="form-check-label" for="inlineRadio1">Fondo blanco</label>-->
            <!--                </div>-->
            <!--                <div class="form-check form-check-inline">-->
            <!--                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio2" value="2">-->
            <!--                    <label class="form-check-label" for="inlineRadio2">Fondo gris</label>-->
            <!--                </div>-->
            <!--                <div class="form-check form-check-inline">-->
            <!--                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio3" value="3" >-->
            <!--                    <label class="form-check-label" for="inlineRadio3">Fondo amarillo</label>-->
            <!--                </div>-->
            <!--                <div class="form-check form-check-inline">-->
            <!--                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio4" value="4" >-->
            <!--                    <label class="form-check-label" for="inlineRadio4">Fondo azul</label>-->
            <!--                </div>-->
            <!--                <div class="form-check form-check-inline">-->
            <!--                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio5" value="5" >-->
            <!--                    <label class="form-check-label" for="inlineRadio4">Fondo verde</label>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="accordion accordion-flush my-4" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Estilo del calendario
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="template_style" id="inlineRadio1" value="1" checked>
                                <label class="form-check-label" for="inlineRadio1">Fondo blanco</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="template_style" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio2">Fondo gris</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="template_style" id="inlineRadio3" value="3" >
                                <label class="form-check-label" for="inlineRadio3">Fondo amarillo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="template_style" id="inlineRadio4" value="4" >
                                <label class="form-check-label" for="inlineRadio4">Fondo azul</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="template_style" id="inlineRadio5" value="5" >
                                <label class="form-check-label" for="inlineRadio4">Fondo verde</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Estilo del texto
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="mb-3">
                                <label for="font-color" class="form-label">Color base: </label>
                                <input class="form-control form-control-color" type="color" value="#000000" id="font-color" name="font_color" list="presetColors" aria-describedby="colorHelp">
                                <datalist id="presetColors">
                                    <option>#000000</option>
                                    <option>#ff0000</option>
                                    <option>#00ff00</option>
                                    <option>#0000ff</option>
                                </datalist>
                                <div id="colorHelp" class="form-text">Color de la fecha y titulos del calendario.</div>
                            </div>
                            <div class="mb-3">
                                <label for="font-color" class="form-label">Color eventos: </label>
                                <input class="form-control form-control-color" type="color" value="#000000" id="link-color" name="link_color" list="presetColors" aria-describedby="linkHelp">
                                <div id="linkHelp" class="form-text">Color del nombre de los eventos.</div>
                            </div>
                            <div class="mb-3">
                                <label for="font-size" class="form-label">Tamaño del texto:</label>
                                <select class="form-select" aria-label="Tamaño del texto" id="font-size" name="font_size">
                                    <option value="12">12</option>
                                    <option value="14">14</option>
                                    <option value="16">16</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="font-style" class="form-label">Tipo de letra:</label>
                                <select class="form-select" aria-label="Tipo de letra" id="font-style" name="font_style">
                                    <option value="Arial,sans-serif">Sin serifa</option>
                                    <option value="Times,serif">Con serifa</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="text-position" class="form-label">Posición del nombre del evento:</label>
                                <select class="form-select" aria-label="Posición del texto" id="text-position" name="text_position_event">
                                    <option value="1">Encima del pictograma</option>
                                    <option value="2">Debajo del pictograma</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThird">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThird" aria-expanded="false" aria-controls="flush-collapseThird">
                            Número de cajas
                        </button>
                    </h2>
                    <div id="flush-collapseThird" class="accordion-collapse collapse" aria-labelledby="flush-headingThird" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name = "month_box" id="month_box" checked>
                                <label class="form-check-label" for="month_box">
                                  Mes
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name = "season_box" id="season_box" checked>
                                <label class="form-check-label" for="season_box">
                                  Estación
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" name = "extra_box" id="extra_box" >
                                <label class="form-check-label" for="extra_box">
                                  Extra
                                </label>
                                  <input type="text" placeholder="Nombre de la caja extra" name="header_extra_box" id="name_extra_box" class="form-control my-3 d-none" value="">
                              </div>
                            <div id="colorHelp" class="form-text">Número de cajas que tendrá la plantilla.</div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="my-4">-->
<!--                <h5 class="my-2"> Estilo del texto: </h5>-->
<!--                <div class="mb-3">-->
<!--                    <label for="font-color" class="form-label">Color base: </label>-->
<!--                    <input class="form-control form-control-color" type="color" value="#000000" id="font-color" name="font_color" list="presetColors" aria-describedby="colorHelp">-->
<!--                    <datalist id="presetColors">-->
<!--                        <option>#000000</option>-->
<!--                        <option>#ff0000</option>-->
<!--                        <option>#00ff00</option>-->
<!--                        <option>#0000ff</option>-->
<!--                    </datalist>-->
<!--                    <div id="colorHelp" class="form-text">Color de la fecha y titulos del calendario.</div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="font-color" class="form-label">Color eventos: </label>-->
<!--                    <input class="form-control form-control-color" type="color" value="#000000" id="link-color" name="link_color" list="presetColors" aria-describedby="linkHelp">-->
<!--                    <div id="linkHelp" class="form-text">Color del nombre de los eventos.</div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="font-size" class="form-label">Tamaño del texto:</label>-->
<!--                    <select class="form-select" aria-label="Tamaño del texto" id="font-size" name="font_size">-->
<!--                        <option value="12">12</option>-->
<!--                        <option value="14">14</option>-->
<!--                        <option value="16">16</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="font-style" class="form-label">Tipo de letra:</label>-->
<!--                    <select class="form-select" aria-label="Tipo de letra" id="font-style" name="font_style">-->
<!--                        <option value="Arial,sans-serif">Sin serifa</option>-->
<!--                        <option value="Times,serif">Con serifa</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="text-position" class="form-label">Posición del nombre del evento:</label>-->
<!--                    <select class="form-select" aria-label="Posición del texto" id="text-position" name="text_position_event">-->
<!--                        <option value="1">Encima del pictograma</option>-->
<!--                        <option value="2">Debajo del pictograma</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <input type="submit" name="submit" value="Añadir" class="btn btn-outline-primary mb-3">
            <a class="btn btn-outline-danger mb-3" href="{% url 'patients-list' %}">Cancelar</a>
        </form>
    </div>
</div>


{% endblock content %}