{% extends "base.html" %}

{% load static %}

{% block style %}
    {% if patient_calendar.template_style == 2 %}
        <link rel="stylesheet" type="text/css" href="{% static '/my_calendar/calendar_styles/calendar_gray.css' %}">
    {% elif patient_calendar.template_style == 3 %}
        <link rel="stylesheet" type="text/css" href="{% static '/my_calendar/calendar_styles/calendar_yellow.css' %}">
    {% elif patient_calendar.template_style == 4 %}
        <link rel="stylesheet" type="text/css" href="{% static '/my_calendar/calendar_styles/calendar_blue.css' %}">
    {% elif patient_calendar.template_style == 5 %}
        <link rel="stylesheet" type="text/css" href="{% static '/my_calendar/calendar_styles/calendar_green.css' %}">
    {% elif patient_calendar.template_style == 6 %}
        <link rel="stylesheet" type="text/css" href="{% static '/my_calendar/calendar_styles/calendar_winter.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static '/my_calendar/calendar_styles/calendar_base.css' %}">
    {% endif %}

    <style>
        .calendar {
            color: {{patient_calendar.font_color}};
            font-family: {{patient_calendar.font_style}};
        }
        .calendar td a {
            font-size: {{patient_calendar.font_size}}px !important;
            color: {{patient_calendar.link_color}};
        }
    </style>

{% endblock %}

{% block content %}

<div class="row justify-content-center text-center">
    <h1>
        {{ patient_calendar.name }}
    </h1>
</div>

<div class="row justify-content-center text-center my-5">
    <div class="col-md-3">
        <form method="post" action="">
            {% csrf_token %}
            <label for="month" class="form-label fw-bold fs-6">Seleccione el mes:</label>
            <input name="month" type="month" value="{{ year }}-{{ month }}" onchange="this.form.submit();" class="form-control">
        </form>
        <a href="{% url 'calendar-to-pdf' id_patient month year%}" class="btn btn-outline-success mt-3">Crear PDF</a>
    </div>
</div>

<div class="table-responsive-md">
    <table class="calendar mb-5 text-center" id="extra_info_table">
        <tr>
        {% if patient_calendar.month_boxes == True or patient_calendar.season_box == True or patient_calendar.extra_box == True %}
            {% if patient_calendar.month_box == True %}
                <td class="clickable" onclick="redirect_add_event('{% url 'add-event' 01 month year %}?id_patient={{id_patient}}&type=2')">
                    <span class="date fw-bold">MES</span>
                    <div class="calendar-event">
                        {% if month_event %}
                            {% for event in month_event %}
                                <a class="fs-6" href="{% url 'event-detail' event.id %}">
                                    {% if event.title  and patient_calendar.text_position_event == 1 %}
                                        {{event.title}}<br> 
                                    {% endif %}

                                    {% if event.url_image %}
                                        <img src="{{ event.url_image}}" alt="Imagen mes.">
                                    {% elif event.image %}
                                        <img src="{{ event.image.url}}" alt="Imagen mes.">
                                    {% endif %}

                                    {% if event.title  and patient_calendar.text_position_event == 2%}
                                        {{event.title}}<br> 
                                    {% endif %}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </td>
            {% endif %}

            {% if patient_calendar.season_box == True %}
                <td class="clickable" onclick="redirect_add_event('{% url 'add-event' 01 month year %}?id_patient={{id_patient}}&type=3')">
                    <span class="date fw-bold">ESTACIÓN</span>
                    <div class="calendar-event">
                        {% if season_event %}
                            {% for event in season_event %}
                                <a class="fs-6" href="{% url 'event-detail' event.id %}">
                                    {% if event.title  and patient_calendar.text_position_event == 1 %}
                                        {{event.title}}<br> 
                                    {% endif %}

                                    {% if event.url_image %}
                                        <img src="{{ event.url_image}}" alt="Imagen estación.">
                                    {% elif event.image %}
                                        <img src="{{ event.image.url}}" alt="Imagen estación.">
                                    {% endif %}

                                    {% if event.title  and patient_calendar.text_position_event == 2%}
                                        {{event.title}}<br> 
                                    {% endif %}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </td>
            {% endif %}

            {% if patient_calendar.extra_box == True %}
                <td class="clickable" onclick="redirect_add_event('{% url 'add-event' 01 month year %}?id_patient={{id_patient}}&type=5')">
                    {% if extra_event %}
                        {% for event in extra_event %}
                            <span class="date fw-bold text-uppercase">{{event.header}}</span>
                            <div class="calendar-event">
                                <a class="fs-6" href="{% url 'event-detail' event.id %}">
                                    {% if event.title  and patient_calendar.text_position_event == 1 %}
                                       {{event.title}}<br> 
                                    {% endif %}
                                    {% if event.url_image %}
                                       <img src="{{ event.url_image}}" alt="Imagen.">
                                    {% elif event.image %}
                                       <img src="{{ event.image.url}}" alt="Imagen.">
                                    {% endif %}
                                    {% if event.title  and patient_calendar.text_position_event == 2%}
                                       {{event.title}}<br> 
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </td>
            {% endif %}
        {% endif %}
            
            
<!--            <td class="clickable" onclick="redirect_add_event('{% url 'add-event' 01 month year %}?id_patient={{id_patient}}&type=4')">-->
<!--                <span class="date fw-bold">TIEMPO</span>-->
<!--                <div class="calendar-event">-->
<!--                    {% if weather_event %}-->
<!--                        {% for event in weather_event %}-->
<!--                            <a class="fs-6" href="{% url 'event-detail' event.id %}"> {{event.title}} <br>-->
<!--                            {% if event.url_image %}-->
<!--                                <img src="{{ event.url_image}}" alt="Imagen tiempo.">-->
<!--                            {% elif event.image %}-->
<!--                                <img src="{{ event.image.url}}" alt="Imagen tiempo.">-->
<!--                            {% endif %}-->
<!--                            </a>-->
<!--                        {% endfor %}-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </td>-->
        </tr>
    </table>
</div>

<div class="table-responsive-md">
    {{ calendar }}
</div>

{% endblock content %}