{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 rounded bg-white p-3">
        <h1 class="text-center mb-3"> Editar Calendario </h1>

        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red"><i class="bi bi-exclamation-circle"></i> {{ error }}</p>
            {% endfor %}
        {% endfor %}

        <form action="." method="post">
            {% csrf_token %}
            <input type="text" name="name" class="form-control my-3" placeholder="Nombre" maxlength="50" required id="id_name" value="{{ patient.name }}">
            <input type="number" name="therapist" class="form-control mb-3" placeholder="Terapeuta" id="id_therapist" hidden required value="{{user.id}}">

            <div class="my-4">
                <h6 class="mt-2 mb-3"> Estilo del calendario: </h6>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio1" value="1"
                           {% if patient.template_style == 1 %}
                                checked
                           {%endif %}
                    >
                    <label class="form-check-label" for="inlineRadio1">Fondo blanco</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio2" value="2"
                            {% if patient.template_style == 2 %}
                                checked
                           {%endif %}
                    >
                    <label class="form-check-label" for="inlineRadio2">Fondo gris</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio3" value="3"
                            {% if patient.template_style == 3 %}
                                checked
                           {%endif %}
                    >
                    <label class="form-check-label" for="inlineRadio3">Fondo amarillo</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio4" value="4"
                            {% if patient.template_style == 4 %}
                                checked
                           {%endif %}
                    >
                    <label class="form-check-label" for="inlineRadio4">Fondo azul</label>
                </div>
                <div class="form-check form-check-inline mb-3">
                    <input class="form-check-input" type="radio" name="template_style" id="inlineRadio5" value="5"
                            {% if patient.template_style == 5 %}
                                checked
                           {%endif %}
                    >
                    <label class="form-check-label" for="inlineRadio4">Fondo verde</label>
                </div>
            </div>

            <input type="submit" name="submit" value="Aceptar" class="btn btn-outline-primary">
            <a class="btn btn-outline-danger" href="{% url 'patients-list' %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}